<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672731724630-u18fkdh0e2o7nbdajjfqpcmap670o936.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672731724630-u18fkdh0e2o7nbdajjfqpcmap670o936</string>
	<key>API_KEY</key>
	<string>AIzaSyAGo_08y582sCGA1OLvyNhKRaLp84AjCHA</string>
	<key>GCM_SENDER_ID</key>
	<string>672731724630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-6031f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-6031f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672731724630:ios:a37fcc7b64ea014cc274f7</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-6031f.firebaseio.com</string>
</dict>
</plist>